.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .loading{
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
    }
}